body { 
    padding-top: 50px; 
}
@media (max-width: 768px) {
  body {
    padding-top: 95px;
  }
}

#logo {
    float: left;
    margin-right: 10px;
    padding-top: 10px;
    font-size: 1.7em;
    font-weight: bold;
}
#logo:hover{
    text-decoration: none;
    color: #fff;
}

.delete-button{
    display: inline;
}

.table-link{
    display: block;
}